.neu-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 1px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #222;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .neu-card {
    flex-direction: column;
    margin-top: 20px;
    padding: 8px;
  }
}
